@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #6768ab;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.about {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4 !important;
}



#cursor {
  background-color: transparent;
  height: 32px;
  width: 32px;
  position: fixed;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}
